html {}

* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;

}

#om_mig {
    display: block;
}

img {
    width: 100%;
}

h1 {
    position: relative;
    top: 3vw;
    text-align: center;
    font-weight: 100;
    font-size: 1em;
}

.box1 {
    /*    background-color: pink;*/
    padding-bottom: 7vw;
    text-align: center;
    padding-left: 30vw;
    padding-right: 30vw;
    line-height: 2em;
    padding-top: 2vw;
    font-size: 1.5em;
}


.iTo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-count: 2;
}


.box2 {
    /*    background-color: blue;*/
    width: 50vw;
    left: 5vw;
    position: relative;

}



.box3 {
    /*    background-color: green;*/
    padding-left: 10vw;
    position: absolute;
    margin-right: 10vw;
    left: 50vw;
    top: 23vw;





}
